<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id, :'data-role' => 'none' %>
  </div>
  <div class="field">
    <%= f.label :bib %><br />
    <%= f.text_field :bib, :'data-role' => 'none' %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
	<%= f.select(:gender, [:M,:F], {},{:'data-role' => 'none'})%>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start, :'data-role' => 'none',:class => 'xxxtimeInput' %>
  </div>
  <input type="button" name="setTime1" class="setTimeButton2" value="Set End Time">
  <div class="field">
    <%= f.label :end %><br />
    <%= f.text_field :end, :'data-role' => 'none',:class => 'timeInput' %>
  </div>

  <div class="actions">
    <%= f.submit :'data-ajax' => 'false'%>
  </div>
<% end %>
