<h1>Listing trials</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Bib</th>
    <th>Gender</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trials.each do |trial| %>
  <tr>
    <td><%= trial.event_id %></td>
    <td><%= trial.bib %></td>
    <td><%= trial.gender %></td>
    <td><%= trial.start %></td>
    <td><%= trial.end %></td>
    <td><%= link_to 'Show', trial %></td>
    <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
    <td><%= link_to 'Destroy', trial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trial', new_trial_path %>
