<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @trial.event_id %>
</p>

<p>
  <b>Bib:</b>
  <%= @trial.bib %>
</p>

<p>
  <b>Gender:</b>
  <%= @trial.gender %>
</p>

<p>
  <b>Start:</b>
  <%= formatTime(@trial.start) %>
</p>

<p>
  <b>End:</b>
  <%= formatTime(@trial.end) %>
</p>


<%= link_to 'Edit', edit_trial_path(@trial), 'data-ajax' => 'false' %> |
<%= link_to 'Back', trials_path, 'data-ajax' => 'false' %>
