<div data-role = "header">
	<h4>Results</h4>
</div>
<div data-role = "content">
	Event: <%= @event.title %>
	<p id         = "notice"><%= notice %></p>
	<table>
		<tr>
			<th>Bib</th>
			<th>Start</th>
			<th>End</th>
		</tr>

		<% @trials.each do |trial| %>
		<tr>
			<td><%= trial.bib %></td>
			<td><%= formatTime(trial.start) %></td>
			<td><%= formatTime(trial.end) %></td>
		</tr>
		<% end %>

	</table>
	<%= link_to 'Home', events_path, :'data-role' => 'button', 'data-ajax' => 'false' %>
</div>
