<div data-role = "header">
	<h4>Results</h4>
</div>
<div data-role = "content">
	Event: <%= @event.title %>
	<p id         = "notice"><%= notice %></p>
	<table class='smallTable'>
		<tr>
			<th>Bib</th>
			<th>Elapsed Time</th>
		</tr>

		<% @trials.each do |trial| %>
			<% if !trial.elapsed.nil? %>
		<tr>
			<td><%= trial.bib %></td>
			<td><%= formatMinSec(trial.elapsed)%></td>
		</tr>
			<% end %>
		<% end %>

	</table>
	<%= link_to 'Home', events_path, :'data-role' => 'button', 'data-ajax' => 'false' %>
</div>
